# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myvens/
venv/
env/

# Database
db.sqlite3

# Environment variables
.env

# Static files collected by Django
staticfiles/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python build files
build/
dist/
*.egg-info/

# PyCharm
.idea/

# Temporary files
*.swp
*.tmp